In [444]:
#How-to-count-distance-to-the-previous-zero
import pandas as pd
df = pd.DataFrame({'X':[7,2,0, 3, 4, 2, 5, 0, 3, 4]})
prevzeroindex=0
listOutput=[]
for index, row in df.iterrows():
    if row['X'] == 0:
        prevzeroindex =index
    if prevzeroindex ==0:
        outputvalue = index
    else:
        outputvalue = index - prevzeroindex
    listOutput.append(outputvalue)
df["Y"] = listOutput
df

   X  Y
0  7  0
1  2  1
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

In [543]:
#Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.
import numpy as np
indexbday = pd.DatetimeIndex(start='2015-01-01',end='2015-12-31', freq='B')
s = pd.Series(random.sample(range(261), 261), index=indexbday)
s

In [545]:
#Find the sum of the values in s for every Wednesday
s.iloc[s.index.dayofweek==2].sum()

7366

In [553]:
#Average for each calander month
s.groupby(s.index.to_period("M")).mean()

2015-01    125.318182
2015-02    140.750000
2015-03    138.454545
2015-04    128.409091
2015-05    119.380952
2015-06    120.818182
2015-07    136.608696
2015-08    150.142857
2015-09    121.272727
2015-10    125.409091
2015-11    112.047619
2015-12    141.173913
Freq: M, dtype: float64

In [540]:
#For each group of four consecutive calendar months in s, find the date on which the highest value occurred.
#s.groupby(s.index.to_period("Q")).max()
print("Date where Max Occur for 1st 4 months :" ,s[s==(s.loc['2015-01-01':'2015-04-30'].max())].index.strftime("%Y-%m-%d"))
print("Date where Max Occur for 2nd 4 months :" ,s[s==(s.loc['2015-05-01':'2015-08-31'].max())].index.strftime("%Y-%m-%d"))
print("Date where Max Occur for 3rd 4 months :" ,s[s==(s.loc['2015-09-01':'2015-12-31'].max())].index.strftime("%Y-%m-%d"))

Date where Max Occur for 1st 4 months : ['2015-04-09']
Date where Max Occur for 2nd 4 months : ['2015-06-08']
Date where Max Occur for 3rd 4 months : ['2015-10-08']